# git+https://github.com/OSGeo/gdal.git
streamlit
matplotlib
streamlit_folium
folium
geopandas
numpy
geopy
fiona
osmnx
earthengine-api
requests
rioxarray
pystac-client
shapely
rasterio
pystac
scikit-learn
matplotlib
elevation
planetary_computer
openpyxl
rampdemand
pyutilib
iso8601
numpy==1.26.4
pyomo
func-timeout
geemap